html {
    background: #F0F0F0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    overflow-x: hidden;
}

div#content {
    position: relative;
    padding: 50px 0;
    max-width: 1500px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

input {
    border: none;
    outline: none;
    border-bottom: 3px solid lightgray;
    padding: 10px;
    border-radius: 3px;
    transition: border-color 250ms;
}

input:focus {
    border-color: gray;
}

h2 {
    position: relative;
}

h2 div.right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.bus-lines-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bus-line {
    flex-grow: 0;
}

.bus-line .wrapper {
    position: relative;
    text-align: center;
    min-width: 120px;
    height: 120px;
}

/*.bus-line .wrapper:hover {
    transform: scale(1.2);
    z-index: 100;
    transition: transform 250ms;
}*/

.bus-line .wrapper, .bus-line .wrapper * {
    cursor: pointer;
}

.bus-line .content {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bus-line .number {
    color: white;
    font-size: 300%;
}

.bus-line .name {
    color: white;
    font-size: 100%;
}

.bus-line .search {
    color: white;
    font-size: 100%;
}

.bus-line .search b {
    color: black;
    background: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
}

div#bus-line-detail {
    position: fixed;
    left: 50%;
    top: 20%;
    width: 70%;
    max-width: 700px;
    transform: translateX(-50%);
    box-shadow: 0 0 20px gray;
    background: #EEE;
    border-radius: 2px;
}

div#bus-line-detail .header{
    position: relative;
    padding: 1px 25% 1px 20px;
}

div#bus-line-detail .header #title{
    display: inline-block;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 2px;
}

div#bus-line-detail button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: background 250ms;
}

div#bus-line-detail button:hover {
    background: rgba(0, 0, 0, 0.2);
}

div#bus-line-detail .content {
    overflow-y: auto;
    max-height: 60vh;
    --padding: 20px;
    padding-bottom: 20px;
}

div#bus-line-detail .journey h2 {
    margin-left: 20px;
}

div#bus-line-detail .journey ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
    overflow: hidden;
    white-space: nowrap;
}

div#bus-line-detail .journey li {
    display: inline-block;
    position: relative;
    min-width: 100px;
    padding: 5px;
    text-align: center;
    list-style: none;
    white-space: normal;
    background: #DDD !important;
    border-bottom: 0;
    color: black;
}

div#bus-line-detail .journey li:nth-of-type(odd) {
    background: #EEE !important;
}

div#bus-line-detail .journey li + li {
    margin-left: 45px;
}

div#bus-line-detail .journey li + li::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-150%);
    width: 20px;
    height: 80%;
    background: url('./img/60758.svg');
    background-size: 100% 100%;
}

div#bus-line-detail .journey li .content {
    display: block;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 0;
}

.bus-stop-lines {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bus-stop-lines .bus-line .wrapper {
    max-height: 80px;
    min-height: 80px;
    min-width: 80px;
    max-width: 80px;
    font-size: 50%;
}

.bus-stop-lines .bus-line .wrapper:hover {
    background: #CCC !important;
    transition: background 250ms;
}

.bus-stop:first-of-type h3 {
    padding-top: 0;
}

.bus-stop h3 {
    margin: 0;
    padding: 19px 0;
    transition: padding 600ms;
}

/*.bus-stop-lines .bus-line + .bus-line {
    margin-left: 5px;
}*/

@media(max-width: 480px) {

    div#content {
        padding-top: 50px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .bus-line {
        flex-grow: 1;
        min-width: 50px;
    }

    .bus-stop-lines .bus-line .wrapper {
        min-width: 100%;
        max-width: 100%;
    }

    div#bus-line-detail > .content {
        position: relative;
        max-height: none;
        width: 100%;
        height: 100%;
    }

    div#bus-line-detail {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }

    div#bus-line-detail .journey h2 {
        text-align: left;
        padding-left: 50px;
        margin-left: 0;
    }

    div#bus-line-detail .journey ul {
        white-space: normal;
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 50px;
    }

    div#bus-line-detail .journey li {
        width: 100%;
        height: 50px;
    }

    div#bus-line-detail .journey li + li {
        margin: 10px 0 0 0;
    }

    div#bus-line-detail .journey li + li::before {
        display: none;
    }

    div#bus-line-detail .journey li .content {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}