html {
    background: #F0F0F0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    overflow-x: hidden;
}

div#content {
    position: relative;
    padding: 50px 0;
    max-width: 1500px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

input {
    border: none;
    outline: none;
    border-bottom: 3px solid lightgray;
    padding: 10px;
    border-radius: 3px;
    transition: border-color 250ms;
}

input:focus {
    border-color: gray;
}

h2 {
    position: relative;
}

h2 div.right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.bus-lines-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bus-line {
    flex-grow: 0;
}

.bus-line .wrapper {
    position: relative;
    text-align: center;
    min-width: 120px;
    height: 120px;
}

/*.bus-line .wrapper:hover {
    transform: scale(1.2);
    z-index: 100;
    transition: transform 250ms;
}*/

.bus-line .wrapper, .bus-line .wrapper * {
    cursor: pointer;
}

.bus-line .content {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bus-line .number {
    color: white;
    font-size: 300%;
}

.bus-line .name {
    color: white;
    font-size: 100%;
}

.bus-line .search {
    color: white;
    font-size: 100%;
}

.bus-line .search b {
    color: black;
    background: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
}

div#bus-line-detail {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    max-width: 700px;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 20px gray;
    background: #F9F9F9;
    border-radius: 2px;
}

div#bus-line-detail .header{
    position: relative;
    padding: 1px 25% 1px 20px;
}

div#bus-line-detail .header #title{
    display: inline-block;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 2px;
}

div#bus-line-detail button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: background 250ms;
}

div#bus-line-detail button:hover {
    background: rgba(0, 0, 0, 0.2);
}

div#bus-line-detail > .content {
    overflow-y: auto;
    max-height: 60vh;
    padding-bottom: 30px;
}

div#bus-line-detail div#journeys {
    display: flex;
    flex-wrap: wrap;
}

div#bus-line-detail .journey {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

div#bus-line-detail .journey + .journey {
    border-left: 3px solid lightgray;
}

div#bus-line-detail .journey h3 {
    margin-top: 30px;
    padding: 0 20px;
    text-align: center;
}

div#bus-line-detail .journey h4 {
    text-align: center;
    padding: 0 20px;
}

div#bus-line-detail .journey ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

div#bus-line-detail .journey li {
    display: block;
    position: relative;
    padding: 5px;
    text-align: center;
    list-style: none;
    white-space: normal;
    background: #EEE;
    color: black;
    height: 80px;
}

div#bus-line-detail .journey li:nth-of-type(odd) {
    background: #F9F9F9;
}

div#bus-line-detail .journey li .content {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    padding: 0;
    transition: background 600ms;
}

div#bus-line-detail .journey li .name {
    --text-overflow: ellipsis;
    --white-space: nowrap;
}

div#bus-line-detail .journey li .time {
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}

.bus-stop-lines {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bus-stop-lines .bus-line .wrapper {
    max-height: 80px;
    min-height: 80px;
    min-width: 80px;
    max-width: 80px;
    font-size: 50%;
}

.bus-stop-lines .bus-line .wrapper:hover {
    background: #CCC !important;
    transition: background 250ms;
}

.bus-stop:first-of-type h3 {
    padding-top: 0;
}

.bus-stop h3 {
    margin: 0;
    padding: 19px 0;
    transition: padding 600ms;
}

div#popup {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 50px;
    max-width: 700px;
}

div#popup .content {
    display: block;
    position: relative;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: white;
    padding: 10px;
}


/*.bus-stop-lines .bus-line + .bus-line {
    margin-left: 5px;
}*/

@media(max-width: 480px) {

    div#content {
        padding-top: 50px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .bus-line {
        flex-grow: 1;
        min-width: 50px;
    }

    .bus-stop-lines .bus-line .wrapper {
        min-width: 100%;
        max-width: 100%;
    }

    div#bus-line-detail > .header {
        width: 100%;
        background: transparent !important;
    }

    div#bus-line-detail > .header #title {
        display: none;
    }

    div#bus-line-detail > .header #detail-close {
        color: black;
        z-index: 1;
        top: 20px;
        right: 10px;
        background: transparent !important;
    }

    div#bus-line-detail > .content {
        position: relative;
        max-height: 100vh;
        width: 100%;
        -webkit-flex: 1; /* Safari 6.1+ */
        -ms-flex: 1; /* IE 10 */
        flex: 1;
    }

    div#bus-line-detail {
        display: flex;
        flex-wrap: wrap;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }

    div#bus-line-detail div#journeys {
        display: block;
    }

    div#bus-line-detail .journey ul {
        white-space: normal;
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 50px;
    }

    div#bus-line-detail .journey + .journey {
        padding-top: 20px;
    }

    div#bus-line-detail .journey:last-of-type ul {
        padding-bottom: 100px;
    }

    div#bus-line-detail .journey li .content {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    div#popup {
        width: 90%;
    }
}