html {
    background: #F0F0F0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    overflow-x: hidden;
}

div#content {
    position: relative;
    padding-top: 50px;
    max-width: 1500px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

input {
    border: none;
    padding: 5px;
}

h2 {
    position: relative;
}

h2 div.right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.bus-lines-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bus-line {
    flex-grow: 0;
}

.bus-line .wrapper {
    position: relative;
    text-align: center;
    min-width: 120px;
    height: 120px;
}

/*.bus-line .wrapper:hover {
    transform: scale(1.2);
    z-index: 100;
    transition: transform 250ms;
}*/

.bus-line .wrapper, .bus-line .wrapper * {
    cursor: pointer;
}

.bus-line .content {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bus-line .number {
    color: white;
    font-size: 300%;
}

.bus-line .name {
    color: white;
    font-size: 100%;
}

.bus-line .search {
    color: white;
    font-size: 100%;
}

.bus-line .search b {
    color: black;
    background: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.1);
}

div#bus-line-detail {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 70%;
    max-width: 700px;
    transform: translateX(-50%) translateY(-55%);
    background: white;
    box-shadow: 0 0 20px gray;
}

div#bus-line-detail .header{
    position: relative;
    padding: 1px 15% 1px 20px;
    color: white;
}

div#bus-line-detail button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

div#bus-line-detail .content {
    overflow-y: auto;
    max-height: 60vh;
    padding: 20px;
    background: white;
}

div#bus-line-detail #journeys ul {
    display: block;
    position: relative;
    padding: 0 20px 20px 20px;
    margin: 0;
    height: 120px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div#bus-line-detail #journeys li {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    list-style: none;
    white-space: normal;
    border-bottom: solid 3px;
}

div#bus-line-detail #journeys li .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
}

.bus-stop-lines {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bus-stop-lines .bus-line .wrapper {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    font-size: 50%;
}

.bus-stop-lines .bus-line .wrapper:hover {
    background: white !important;
    outline: solid 3px;
    transition: background 250ms, outline 250ms;
}

.bus-stop-lines .bus-line .wrapper:hover .number {
    color: black !important;
}

.bus-stop-lines .bus-line + .bus-line {
    margin-left: 5px;
}